:root {
    --bordes: #d9d9d9;
    --texto: #284b63;    
    --fondo: #ffffff;    
    --title: #d9d9d9;
    --color5: white;
    --color6: #a0b9ca;

    --glow1: #00b8b6;
    --glow2: #00fffc;
    --box-shadow1: rgba(0, 255, 253, .6);
    --box-shadow2: rgba(0, 255, 253, .5);
    --box-shadow3: rgba(0, 255, 253, 1);
    --box-shadow4: rgba(0, 255, 253, .8);
    --box-shadow5: white;
    --back: white;
    --gradient: linear-gradient(#ffffff, #b8b8b8); 
}

.dark-theme{
    color-scheme: dark;
    --bordes: #284b63;
    --texto: #d9d9d9;    
    --fondo: #191A19;
    --title: #3c6e71;
    --color5: #191A19;
    --color6: #191A19;
    
    --glow1: #00b8b6;
    --glow2: #00fffc;
    --box-shadow1: rgba(0, 255, 253, .2);
    --box-shadow2: rgba(0, 255, 253, .1);
    --box-shadow3: rgba(0, 255, 253, .6);
    --box-shadow4: rgba(0, 255, 253, .4);
    --box-shadow5: #000;
    --back: #0B4252;
    --gradient: linear-gradient(#333933, #222922); 
}

@keyframes box-glow {
    0% {
      border-color: var(--glow1);
      box-shadow: 0 0 5px var(--box-shadow1), inset 0 0 5px var(--box-shadow2), 0 2px 0 var(--box-shadow5);      
    }	
    100% {
      border-color: var(--glow2);
      box-shadow: 0 0 20px var(--box-shadow3), inset 0 0 10px var(--box-shadow4), 0 2px 0 var(--box-shadow5);    
    }
}

@keyframes box-glow-red {
    0% {
      border-color: #b80000;
      box-shadow: 0 0 5px rgba(255, 0, 0, 0.2), inset 0 0 5px rgba(255, 0, 0, 0.1), 0 2px 0 var(--box-shadow5);      
    }	
    100% {
      border-color: #ff0000;
      box-shadow: 0 0 20px rgba(255, 0, 0, 0.6), inset 0 0 10px rgba(255, 0, 0, 0.4), 0 2px 0 var(--box-shadow5);    
    }
}

body {    
    margin: 0px;  
    background-color: var(--fondo);
    color:var(--texto);     
    font-family: 'Righteous', cursive;    
}

header {    
    background-color: var(--bordes);
    margin-top: 0px;    
    padding: 0px;
    display: grid;
    grid-template-columns: 100%;        
}

h1 {
    margin-left: 30px;
}

#main {
    display: grid;
    grid-template-columns: 50% 50%;    
}

.delete, #confirmDelete {
    color: red;
    background-color: white;
    border-color: darkred;
}

.delete:hover, #confirmDelete:hover {
    animation: box-glow-red 1s ease-out infinite alternate;
    background: var(--back);
    background: var(--gradient);
    border-color: var(--glow2);
}

.popup-deleteAccount, .popup-resetAccount{
    background: rgba(0, 0, 0, 0.6);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    display: none;
    justify-content: center;
    align-items: center;
    text-align: center;
        
}

.popup-deleteAccount-content, .popup-resetAccount-content {
    height: 180px;
    width: 360px;
    background-color:var(--fondo);
    padding: 20px;
    border-radius: 5px;
    position: relative;
    border: 5px red solid;
    border-radius: 30px;
}

button, input[type="submit"] {
    background-color: var(--bordes);
    color: var(--texto);
    font-weight: 600;
    font-size: 18px;
    margin: 5px;
    cursor: pointer;
    font-family: 'Righteous', cursive;
}

#updateInfo, #sessionAndAccount, #options, #contact, #image {
    border-top: 5px var(--bordes) solid;
    border-left: none;
    border-right: none;
    margin: 10px;
    padding: 10px;    
    padding-left: 20px;    
}

#image form{    
    margin-left: 10px;
}

#image input[type="submit"] {
    margin-top: 20px;
    margin-left: 0px;
}

#image input[type="file"] {
    margin-left: 20px;
}

#options form {
    margin-left: 8px;
}

#contact input[type="submit"], textarea {
    margin-top: 10px;
    margin-left: 0px;
}

#contact form{    
    margin-left: 10px;
}

input[type="email"], input[type="password"]{
    width: 200px;    
    height: 18px;
    font-size: 16px;    
    margin: 8px;
}

select {
    width: 100px;    
   /* height: 18px;*/
    font-size: 16px;    
    margin: 8px;
}

.error, .warning{
    color: red;
    font-weight: bold;
}

a {
    display: inline-block;
    border-radius: 4px;
    background-color: var(--bordes);
    border: none;
    color: var(--texto);
    text-align: center;
    font-size: 20px;
    padding: 10px;
    width: 100px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
    margin-left: 25px;  
    width:fit-content;  
  }
  
  a span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
  
  a span:after {
    content: '\00AB';    
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }
  
  a:hover span {
    padding-right: 25px;
  }
  
  a:hover span:after {
    opacity: 1;
    right: 0;
  }

a:hover, button:hover, input[type="submit"]:hover{
    animation: box-glow 1s ease-out infinite alternate;
    background: var(--back);
    background: var(--gradient);
    border-color: var(--glow2);
}

@media screen and (max-width: 798px){
    #main{        
        grid-template-columns: 100%;  
    }

    #message {
        width: 95%;
    }
}

@media screen and (max-width: 403px){
    #main{        
        grid-template-columns: 100%;  
    }    
}