:root {
    --bordes: #d9d9d9;
    --texto: #284b63;    
    --fondo: #ffffff;    
    --title: #d9d9d9;
    /*--color5: #3c6e71;*/
    --color5:#a0b9ca;

    --glow1: #00b8b6;
    --glow2: #00fffc;
    --box-shadow1: rgba(0, 255, 253, .6);
    --box-shadow2: rgba(0, 255, 253, .5);
    --box-shadow3: rgba(0, 255, 253, 1);
    --box-shadow4: rgba(0, 255, 253, .8);
    --box-shadow5: white;
    --back: white;
    --gradient: linear-gradient(#ffffff, #b8b8b8); 
}

.dark-theme{
    color-scheme: dark;
    --bordes: #284b63;
    --texto: #d9d9d9;    
    --fondo: #191A19;
    --title: #3c6e71;
    --color5: #8b8c89;    

    --glow1: #00b8b6;
    --glow2: #00fffc;
    --box-shadow1: rgba(0, 255, 253, .2);
    --box-shadow2: rgba(0, 255, 253, .1);
    --box-shadow3: rgba(0, 255, 253, .6);
    --box-shadow4: rgba(0, 255, 253, .4);
    --box-shadow5: #000;
    --back: #0B4252;
    --gradient: linear-gradient(#333933, #222922);
}

@keyframes box-glow {
    0% {
      border-color: var(--glow1);
      box-shadow: 0 0 5px var(--box-shadow1), inset 0 0 5px var(--box-shadow2), 0 2px 0 var(--box-shadow5);      
    }	
    100% {
      border-color: var(--glow2);
      box-shadow: 0 0 20px var(--box-shadow3), inset 0 0 10px var(--box-shadow4), 0 2px 0 var(--box-shadow5);    
    }
}

body {    
    margin: 0px;
    background-color: var(--fondo);
    font-family: 'Righteous', cursive;
}

h1{    
    margin-top: 0px;
    text-align: center;
    font-size: 180px;
    color: var(--texto);    
}

@media screen and (max-width: 700px)/*, (max-height: 500px) */{
    h1 {
        font-size: 80px;
    }
}

@media screen and (min-width: 701px) and (max-width: 800px)/* and (min-height: 501px) and (max-height: 600px) */{
    h1 {
        font-size: 120px;
    }
}

@media screen and (min-width: 801px) and (max-width: 1000px)/* and (min-height: 601px) and (max-height: 700px) */{
    h1 {
        font-size: 130px;
    }
}

@media screen and (min-width: 1001px) and (max-width: 1200px)/* and (min-height: 701px) and (max-height: 800px) */{
    h1 {
        font-size: 150px;
    }
}

@media screen and (min-width: 1201px)/* and (min-height: 801px) */{
    h1 {
        font-size: 180px;
    }
}

#login form{
    position:absolute;
    top: 50%;
    left: 50%;
    border: 5px var(--bordes) solid;
    transform: translate(-50%, -50%);
    background-color: var(--color5);
    border-radius: 5px;  
    padding: 30px;  
    width: 230px;    
}

/*#login*/ input[type="text"], /*#login*/ input[type="password"], input[type="email"] {
    width: 200px;    
    height: 20px;
    font-size: 18px;    
    margin: 10px;
}

/*#login*/ input[type="submit"], /*#login*/ button {
    width: 208px;
    height: 40px;
    margin: 10px; 
    font-weight: 600;
    font-size: 18px;
    background-color: var(--bordes);   
    color: var(--texto); 
    cursor: pointer;
    font-family: 'Righteous', cursive;
}

button:hover, input[type="submit"]:hover{
    animation: box-glow 1s ease-out infinite alternate;
    background: var(--back);
    background: var(--gradient);
    border-color: var(--glow2);
}

.popup {
    background: rgba(0, 0, 0, 0.6);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    display: none;
    justify-content: center;
    align-items: center;
    text-align: center;    
}

.popup-content {    
    height: fit-content;
    width: 300px;    
    /*width: fit-content;*/
    padding: 20px;
    border-radius: 5px;
    border: 5px var(--bordes) solid;
    background-color: var(--color5);
    position: relative;
}


.options {
    position: fixed;
    right: 20px;
    top: 20px;
    /*width: 100%;*/
    /*background-color: red;*/
    color: white;
    text-align: center;
 }

 .options a {     
     padding: 10px;     
     text-decoration: none;
     opacity: 75%;
 }

 .options a:hover {     
    padding: 10px;     
    text-decoration: none;
    opacity: 100%;
}

.options img {         
    opacity: 75%;
}

.options img:hover {        
   opacity: 100%;
}

.error {
    color: yellow;
    font-weight: bold;
    font-weight: 100;
}

.fieldError {
    border: 2px solid red;
    border-radius: 4px;
}

@media screen and (max-width: 1500px){
    .options {
        position: fixed;
        top: 80%;
        left: 50%;
        transform: translate(-50%, 0);
    }
}
